/* - - - - - - - - - - - - - - - - - - - - -

Title : Lightbox CSS
Author : Kevin Hale
URL : http://particletree.com/features/lightbox-gone-wild/

Created : January 13, 2006
Modified : February 1, 2006

- - - - - - - - - - - - - - - - - - - - - */

#lightbox{
	display:none;
	position: absolute;
	top:50%;
	left:50%;
	z-index:9999;
	width:500px;
	height:400px;
        padding: 0px;
	margin:-220px 0 0 -250px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background:#ffffff;
	text-align:left;
        overflow: visible;
}
#lightbox[id]{
	position:fixed;
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5000;
	background-color:#000;
	-moz-opacity: 0.5;
	opacity:.50;
	filter: alpha(opacity=50);
}
#overlay[id]{
	position:fixed;
}

#lightbox.done #lbLoadMessage{
	display:none;
}
#lightbox.done #lbContent{
	display:block;
}
#lightbox.loading #lbContent{
	display:none;
}
#lightbox.loading #lbLoadMessage{
	display:block;
}

div.lightbox-ctrl {
  text-align: right;
  font-size: 78.57143%;
  //position: absolute;
  top: auto; left: -1px; right: -1px; bottom: 100%;
  background-color: #eeebde;
  //border-top: 1px solid #000000;
  //border-left: 1px solid #000000;
  //border-right: 1px solid #000000;
  padding: 4px 0px 4px 0px;
  //z-index: 10020;
}

div.lightbox-view {
  width: 500px;
  height: 400px;
  overflow: auto;
}
